{{ template "header" . }}

{{ $ses_id := .session.id }}
{{ $GET := .GET }}
{{ $UD := .UD }}
{{ $noF := .noF  }}

<div class="notes_wrapper">
  <div class="explore">

    <div class="explores">

      {{ if .followings }}
        {{ range $f := .followings }}
          <div class="explores_list">
            <div class="exl_main">
              <img src="/users/{{ $f.id }}/avatar.png" alt="" srcset="">
              <div class="exl_content">
                <span class="exl_username">{{ $f.username }}</span>
                <div class="exl_desc">
                  <span class="exl_email">{{ $f.email }}</span>
                  <span class="exl_desc_sep">•</span>
                  <span class="exl_followers">{{ $f.numberOfFollowers }} Followers</span>
                </div>
              </div>
            </div>
            <div class="exl_ff">
              <a href="/profile/{{ $f.id }}" class="pri_btn">Profile</a>
            </div>
          </div>
        {{ end }}
      {{ end }}

      {{ if not .followings }}
        {{ template "nothing" .no_mssg }}
      {{ end }}

      {{ if .followings }}
        {{ template "end" }}
      {{ end }}

    </div>

  </div>
</div>

{{ template "footer" }}
